<div [ngClass]="cardCss">
  <div class="flex justify-between">
    <h1 [ngClass]="headingCss">Payment Schedule</h1>
    <div class="flex items-center gap-4 mt-4">
      <button
        mat-flat-button
        data-testid="Save"
        color="primary"
        
        (click)="submit()"
      >
        <mat-icon>payments</mat-icon>
        Make Payment
      </button>
    </div> 
  </div>

<form [formGroup]="form">

  <div [ngClass]="cardCss" class="grid grid-cols-3 gap-3">
    <div class="">
      <h4
        [ngClass]="labelCss"
        class="after:content-['*'] after:ml-0.5 after:text-red-500"
      >
        Cashbook Type
      </h4>
      <mat-form-field appearance="outline" class="min-w-[100%]">
        <input
          type="text"
          placeholder="Cashbook Type"
          aria-label="Cashbook Type"
          matInput
          formControlName="cashbookType"
          [matAutocomplete]="cashbookTypeAutoComplete"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #cashbookTypeAutoComplete="matAutocomplete"
          [displayWith]="displayAutocompleteValue"
        >
          <mat-option
            *ngFor="let element of filteredCashbookTypeList | async"
            [value]="element"
          >
            {{ element.value }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="cashbookType?.errors?.['required']">
          Cahsbook Type is mandatory.
        </mat-error>
        <mat-error
          *ngIf="!cashbookType?.errors?.['required'] && cashbookType?.errors?.['invalidValue']"
        >
          Please select valid value.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <h4
        [ngClass]="labelCss"
        class="after:content-['*'] after:ml-0.5 after:text-red-500"
      >
        Fund Source
      </h4>
      <mat-form-field appearance="outline" class="min-w-[100%]">
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Fund Source"
          matInput
          formControlName="fundSource"
          [matAutocomplete]="fundSourceTypeAutoComplete"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #fundSourceTypeAutoComplete="matAutocomplete"
        [displayWith]="displayAutocompleteValue"
        (optionSelected)="getSelectedFundSource($any($event))"
      >
        <mat-option
          *ngFor="let element of filteredFundSourceTypeList | async"
          [value]="element"
        >
          {{ element.value }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="fundSource?.errors?.['required']">
        FundSource Type is mandatory.
      </mat-error>
      <mat-error
        *ngIf="!fundSource?.errors?.['required'] && fundSource?.errors?.['invalidValue']"
      >
        Please select valid value.
      </mat-error>
      </mat-form-field>
    </div>

    <div>
      <h4
        [ngClass]="labelCss"
        class="after:content-['*'] after:ml-0.5 after:text-red-500"
      >
        Charged Account
      </h4>
      <mat-form-field appearance="outline" class="min-w-[100%]">
        <input
          type="text"
          placeholder="Charged Account"
          aria-label="payerId"
          matInput
          formControlName="payerId"
          [matAutocomplete]="payerIdAutoComplete"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #payerIdAutoComplete="matAutocomplete"
          [displayWith]="displayAutocompleteValue"
        >
          <mat-option
            *ngFor="
              let financialAccount of filteredFinancialAccountList | async
            "
            [value]="financialAccount"
          >
            {{ financialAccount.value }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="payerId?.errors?.['required']">
          Charged Account is mandatory.
        </mat-error>
        <mat-error
          *ngIf="!payerId?.errors?.['required'] && payerId?.errors?.['invalidValue']"
        >
          Please select valid value.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col">
      <h4
        [ngClass]="labelCss"
        class="after:content-['*'] after:ml-0.5 after:text-red-500"
      >
        Financial Codes
      </h4>
      <mat-form-field appearance="outline" class="min-w-[100%]">
        <input
          type="text"
          placeholder="Financial Codes"
          aria-label="Financial Code"
          matInput
          formControlName="financialCode"
          [matAutocomplete]="financialCodeAutoComplete"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #financialCodeAutoComplete="matAutocomplete"
          [displayWith]="displayAutocompleteValue"
        >
          <mat-option
            *ngFor="let element of filteredFinancialCodeList | async"
            [value]="element"
          >
            {{ element.value }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="financialCode?.errors?.['required']">
          Financial Code is mandatory.
        </mat-error>
        <mat-error
          *ngIf="!financialCode?.errors?.['required'] && financialCode?.errors?.['invalidValue']"
        >
          Please select valid value.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <h4
        [ngClass]="labelCss"
        class="after:content-['*'] after:ml-0.5 after:text-red-500"
      >
        Payment Method
      </h4>
      <mat-form-field appearance="outline" class="min-w-[100%]">
        <input
          type="text"
          placeholder="Payment Method"
          aria-label="Payment Method"
          matInput
          formControlName="paymentMethod"
          [matAutocomplete]="paymentMethodAutoComplete"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #paymentMethodAutoComplete="matAutocomplete"
          [displayWith]="displayAutocompleteValue"
        >
          <mat-option
            *ngFor="let element of filteredPaymentMethodList | async"
            [value]="element"
          >
            {{ element.value }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="paymentMethod?.errors?.['required']">
          Payment Method is mandatory.
        </mat-error>
        <mat-error
          *ngIf="!paymentMethod?.errors?.['required'] && paymentMethod?.errors?.['invalidValue']"
        >
          Please select valid value.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <h4
        [ngClass]="labelCss"
        class="after:ml-0.5"
      >
        Ref / Cheque
      </h4>
      <mat-form-field appearance="outline" class="min-w-[100%]">
        <input
          type="text"
          placeholder="Reference No."
          aria-label="Fund Source"
          matInput
          formControlName="refNo"
          (ngModelChange)="convertToEn($event)"
        />
      </mat-form-field>
    </div>

    <div [ngClass]="formGridSpanCss">
      <h4
        [ngClass]="labelCss"
        class="after:ml-0.5"
      >
      Description
      </h4>
      <mat-form-field appearance="outline" class="min-w-[100%]">
        <textarea
          type="text"
          placeholder="Description"
          aria-label="description"
          matInput
          formControlName="description"
        > </textarea>
      </mat-form-field>
    </div>
    </div>


<div formArrayName="payments">
  <div *ngFor="let payment of paymentsArray.controls; let i = index">
    <div [formGroupName]="i" [ngClass]="cardCss" class="grid grid-cols-4 gap-3">

      <div>
        <h4 [ngClass]="labelCss" class="after:content-['*'] after:ml-0.5 after:text-red-500">Payee Name</h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input readonly type="text" placeholder="Pick one" aria-label="PayeeName" matInput formControlName="payeeName" />
        </mat-form-field>
      </div>

      <div>
        <h4 [ngClass]="labelCss" class="after:content-['*'] after:ml-0.5 after:text-red-500">Payee Type</h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input readonly type="text" placeholder="Pick one" aria-label="PayeeType" matInput formControlName="payeeType" />
        </mat-form-field>
      </div>

      <div>
        <h4
          [ngClass]="labelCss"
          class="after:content-['*'] after:ml-0.5 after:text-red-500"
        >
          Team
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            readonly
            type="text"
            placeholder="Pick one"
            aria-label="Team"
            matInput
            formControlName="teamName"
          />
        </mat-form-field>
      </div>

      <div class="min-w-[100%]">
        <h4
          [ngClass]="labelCss"
          class="after:content-['*'] after:ml-0.5 after:text-red-500"
        >
          Contract Ref. No
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            readonly
            type="text"
            placeholder="Pick one"
            aria-label="Fund Source"
            matInput
            formControlName="contractRefNumber"
          />
        </mat-form-field>
      </div>

      <div class="min-w-[100%]">
        <h4
          [ngClass]="labelCss"
          class="after:ml-0.5"
        >
          Invoice Number
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            type="text"
            placeholder="Invoice Number"
            aria-label="Invoice Number"
            matInput
            formControlName="invoiceNumber"
          />
        </mat-form-field>
      </div>

      <div>
        <h4
          [ngClass]="labelCss"
          class="after:content-['*'] after:ml-0.5 after:text-red-500"
        >
          Invoice Date
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            matInput
            [matDatepicker]="picker1"
            aria-label="Invoice Date"
            placeholder="Invoice Date"
            formControlName="invoiceDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <h4
          [ngClass]="labelCss"
          class="after:content-['*'] after:ml-0.5 after:text-red-500"
        >
          Payment Date
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            matInput
            [matDatepicker]="picker5"
            aria-label="paymentDate"
            placeholder=" Enter Date"
            formControlName="paymentDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker5"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker5></mat-datepicker>
  
        </mat-form-field>
      </div>

      <div>
        <h4
          [ngClass]="labelCss"
          class="after:content-['*'] after:ml-0.5 after:text-red-500"
        >
          Payment Status
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            type="text"
            placeholder="Pick one"
            aria-label="payment Status"
            matInput
            formControlName="paymentStatus"
            [matAutocomplete]="statusAutoComplete"
            (ngModelChange)="setAmount($event,i)"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #statusAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue"
          >
            <mat-option
              *ngFor="let status of filteredStatusList[i] | async"
              [value]="status"
            >
              {{ status.value }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div>
        <h4
          [ngClass]="labelCss"
          class="after:content-['*'] after:ml-0.5 after:text-red-500"
        >
          Payment Amount
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            type="text"
            readonly
            placeholder="Payment Amount"
            aria-label="Fund Source"
            matInput
            formControlName="paymentAmount"
            (ngModelChange)="isValidNumber($event,i)"
          />
        </mat-form-field>
      </div>

      <div>
        <h4
          [ngClass]="labelCss"
          class="after:content-['*'] after:ml-0.5 after:text-red-500"
        >
          Paid Amount
        </h4>
        <mat-form-field appearance="outline" class="min-w-[100%]">
          <input
            type="text"
            placeholder="Paid amount"
            aria-label="Paid amount"
            matInput
            formControlName="paidAmount"
            (ngModelChange)="setAmountCalculation(i,$event)"
          />
        </mat-form-field>
      </div>

      <div [ngClass]="formGridSpanCss">
        <mat-slide-toggle
          #toggleElement
          aria-label="vatToggle"
          [checked]=""
          (change)="toggle($event,i)"
        >
          <h4 [ngClass]="labelCss">VAT/ AIT</h4>
        </mat-slide-toggle>
      </div>
      
      <div [ngClass]="formGridSpanCss">
        <div formArrayName="vatAit" >
          <div *ngFor="let vatAit of vatAitFormArray(i).controls; let j = index"  >
            <div [formGroupName]="j" >
              <div  *ngIf="toggleChecker"  >
                <div [ngClass]="formGridCss" >
                    <div>
                      <h4
                        [ngClass]="labelCss"
                        class="after:content-['*'] after:ml-0.5 after:text-red-500"
                      >
                        Vat
                      </h4>
                      <mat-form-field appearance="outline" class="min-w-[100%]">
                        <input
                          matInput
                          aria-label="Vat"
                          formControlName="vat"
                          (ngModelChange)="convertToEnglish($event, i)"
                          (ngModelChange)="setAmountCalculation(i)"
                        />
                        <span matTextSuffix>%</span>
                      </mat-form-field>
                    </div>
                    <div>
                      <h4 [ngClass]="labelCss">Vat Amount</h4>
                      <mat-form-field appearance="outline" class="min-w-[100%]">
                        <input
                          matInput
                          aria-label="Vat Amount"
                          formControlName="vatAmount"
                          (ngModelChange)="convertToEnglish($event,i)"
                          (ngModelChange)="vatAitAmountCalculation(i)"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <h4
                        [ngClass]="labelCss"
                        class="after:content-['*'] after:ml-0.5 after:text-red-500"
                      >
                        AIT
                      </h4>
                      <mat-form-field appearance="outline" class="min-w-[100%]">
                        <input
                          matInput
                          aria-label="Ait"
                          formControlName="ait"
                          (ngModelChange)="convertToEnglish($event,i)"
                          (ngModelChange)="setAmountCalculation(i)"
                        />
                        <span matTextSuffix>%</span>
                      </mat-form-field>
                    </div>
                    <div>
                      <h4 [ngClass]="labelCss">AIT Amount</h4>
                      <mat-form-field appearance="outline" class="min-w-[100%]">
                        <input
                          matInput
                          aria-label="Ait Amount"
                          formControlName="aitAmount"
                          (ngModelChange)="convertToEnglish($event,i)"
                          (ngModelChange)="vatAitAmountCalculation(i)"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <h4 [ngClass]="labelCss">Billed Amount</h4>
                      <mat-form-field appearance="outline" class="min-w-[100%]">
                        <input
                          readonly
                          matInput
                          aria-label="Net Payable"
                          formControlName="netPayable"
                        />
                      </mat-form-field>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>